<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eqy.web.dao.PackCarBeanMapper">
	<resultMap id="PackCarResultMap" type="com.eqy.web.pojo.PackCarBean">
		<id column="id" property="id"  />
		<result column="pack_car_number" property="packCarNumber" />
		<result column="pack_car_type" property="packCarType"  />
		<result column="pack_id" property="packId"  />
		<result column="pack_car_desc" property="packCarDesc"  />
		<result column="pack_car_status" property="packCarStatus" />
	</resultMap>
	<sql id="Base_Column_List">
		T.id, T.pack_car_number, T.pack_car_type, T.pack_id,T.pack_car_desc,
		T.pack_car_status
	</sql>
	
	<select id="selectByPackIdAndType" resultMap="PackCarResultMap" parameterType="String">
		select 
		<include refid="Base_Column_List" /> from t_pack_car_info T 
		WHERE pack_id = #{0} AND pack_car_type = #{1} AND pack_car_status = 1 ORDER BY RAND() LIMIT 1;
	</select>
	
	<update id="updatePackCarStatus" parameterType="com.eqy.web.pojo.PackCarBean">
		update t_pack_car_info set pack_car_status = 2 where id = #{id} and pack_car_status = 1;
	</update>
</mapper>