<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eqy.web.dao.UserBookingBeanMapper">
<resultMap id="UserBookingResultMap" type="com.eqy.web.pojo.UserBookingBean">
		<id column="id" property="id"  />
		<result column="user_openid" property="userOpenid" />
		<result column="user_carnum" property="userCarNum"  />
		<result column="user_name" property="userName"  />
		<result column="user_phonenum" property="userPhoneNum"  />
		<result column="booking_time" property="bookingTime" />
		<result column="bookingend_time" property="bookingEndTime" />
		<result column="opt_time" property="optTime" />
		<result column="booking_status" property="bookingStatus"  />
		<result column="payment_status" property="paymentStaus"  />
		<result column="payment_time" property="paymentTime" />
		<result column="money" property="money" />
		<result column="is_delete" property="isDelete" />
		<result column="pack_id" property="packId"/>
		<result column="pack_car_id" property="packCarId"/>
		<result column="pack_car_type" property="packCarType" />
		<association property="packBean" javaType="com.eqy.web.pojo.PackBean">
			<result column="pack_address" property="packAddress"  />
		</association>
		<association property="packCarBean" javaType="com.eqy.web.pojo.PackCarBean">
			<result column="pack_car_number" property="packCarNumber"/>
		</association>
	</resultMap>
	
	<sql id="UserBooking_Column_List">
		T.id, T.user_openid, T.user_carnum, T.user_name,T.user_phonenum,
		T.booking_time,T.bookingend_time,T.opt_time,t.booking_status,T.payment_status,T.payment_time,T.money
	</sql>
	
	<select id="selectUserBookingListById" resultMap="UserBookingResultMap" parameterType="String">
	select 
	<include refid="UserBooking_Column_List" /> from t_booking_logs T
	where user_openid = #{0} and id = #{1};
	</select>
	
	<select id="selectUserBookingListForApi" resultMap="UserBookingResultMap" parameterType="String">
	select 
	<include refid="UserBooking_Column_List" />,T.pack_id from t_booking_logs T
	where booking_status = 3 and is_post = 0;
	</select>
	
	
	<select id="selectUserBookingList" resultMap="UserBookingResultMap" parameterType="String">
		SELECT
		<include refid="UserBooking_Column_List" />,P.pack_address,C.pack_car_number 
		  FROM (t_booking_logs T LEFT JOIN t_pack_info P ON P.id = T.pack_id) LEFT JOIN t_pack_car_info C ON C.id = T.pack_car_id 
		  WHERE T.user_openid =  #{openid} and T.is_delete = 0 ORDER BY T.id DESC;
	</select>
	
	<select id="selectUserBookingListByEndtime" resultMap="UserBookingResultMap" parameterType="String">
		select 
		<include refid="UserBooking_Column_List" />  FROM t_booking_logs T
		  WHERE user_openid =  #{0} and bookingend_time > #{1} and booking_status in (1,2,3);
	</select>
	
	<select id="selectUserCarnumBookingList" resultMap="UserBookingResultMap" parameterType="String">
		SELECT
		<include refid="UserBooking_Column_List" />  FROM t_booking_logs T  
		WHERE user_openid =  #{0} and user_carnum = #{1} and bookingend_time >= #{2} and booking_status in (1,2,3);
	</select>
	
	
	<insert id="insertUserBooking" parameterType="com.eqy.web.pojo.UserBookingBean">
		insert into t_booking_logs (user_openid,
		user_carnum,
		user_name, user_phonenum,
		booking_time,bookingend_time,
		opt_time,pack_id,pack_car_type
		)
		values (#{userOpenid,jdbcType=VARCHAR},
		#{userCarNum,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR}, 
		#{userPhoneNum,jdbcType=VARCHAR},
		#{bookingTime,jdbcType=VARCHAR},
		#{bookingEndTime,jdbcType=VARCHAR},
		#{optTime,jdbcType=VARCHAR}, 
		#{packId,jdbcType=VARCHAR},
		#{packCarType,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateUserBookingStatus" parameterType="com.eqy.web.pojo.UserBookingBean">
	UPDATE t_booking_logs SET booking_status = 0 WHERE user_openid = #{0} AND id = #{1};
	</update>
	
	<update id="updateUserBookingDelete" parameterType="com.eqy.web.pojo.UserBookingBean">
	UPDATE t_booking_logs SET is_delete = 1 WHERE user_openid = #{0} AND id = #{1};
	</update>
	
	<!-- 更新支付状态 -->
	<update id="updatePayMent" parameterType="com.eqy.web.pojo.UserBookingBean">
	UPDATE t_booking_logs SET payment_status = 1,payment_time = #{0},money = #{1} WHERE user_openid = #{2} AND id = #{3};
	</update>
	
	<!-- 更新是否提交车牌号 -->
	<update id="updateIsPost" parameterType="com.eqy.web.pojo.UserBookingBean">
	UPDATE t_booking_logs SET is_post = 1 WHERE id = #{0} and is_post = 0;
	</update>
	
	<select id="selectUserBookingListByStatus"  resultMap="UserBookingResultMap" parameterType="String">
	select 
	<include refid="UserBooking_Column_List" />,T.pack_id,T.pack_car_id,T.pack_car_type from t_booking_logs T 
	where booking_status = 2 and pack_car_id = 0;
	</select>
	
	<update id="updateCarId" parameterType="com.eqy.web.pojo.UserBookingBean">
		update t_booking_logs  set pack_car_id = #{0},booking_status = 3 where id = #{1} and pack_car_id = 0;
	</update>
</mapper>